- content_for :title, t('.title', :name => @faculty_instance.full_name)
- form_for @faculty_instance, :url => {:action => 'update'}, :html => {:name => 'availability_form'} do |faculty_form|
  != faculty_form.error_messages
  %fieldset
    %h3!= t('.preferences')
    %ul
      %li.field
        != faculty_form.label :default_room
        != faculty_form.text_field :default_room
      %li.field
        != faculty_form.label :max_admits_per_meeting
        != faculty_form.text_field :max_admits_per_meeting
  %fieldset
    %h3!= t('.availability')
    %ul
      %li!= link_to_function(t('.select_all'), 'select_all(availability_form)')
      %li!= link_to_function(t('.unselect_all'), 'unselect_all(availability_form)')
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= TimeSlot.human_attribute_name(:time)
          %th{:scope => 'col'}!= TimeSlot.human_attribute_name(:available)
          %th{:scope => 'col'}!= TimeSlot.human_attribute_name(:room)
      %tbody
        - faculty_form.fields_for :time_slots do |time_slot_fields|
          - @time_slot = time_slot_fields.object
          != time_slot_fields.hidden_field :begin
          != time_slot_fields.hidden_field :end
          %tr
            %td!= "#{@time_slot.begin.strftime('%m/%d/%y - %I:%M%p')} to #{@time_slot.end.strftime('%I:%M%p')}"
            %td!= time_slot_fields.check_box :available
            %td!= time_slot_fields.text_field :room
    != hidden_field_tag :origin_action, @origin_action
    != hidden_field_tag :redirect_action, @redirect_action
    != faculty_form.submit t('.submit'), :disabled => (Settings.instance.disable_faculty && @current_user.class == Faculty)
