- content_for :title, t('.title')
- form_for @faculty_instance, :url => {:action => 'update'} do |faculty_form|
  != faculty_form.error_messages
  %fieldset
    %h3!= t('.preferences')
    %ul
      %li.field
        != faculty_form.label :default_room
        != faculty_form.text_field :default_room
      %li.field
        != faculty_form.label :max_admits_per_meeting
        != faculty_form.text_field :max_admits_per_meeting
  %fieldset
    %h3!= t('.availability')
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= AvailableTime.human_attribute_name(:time)
          %th{:scope => 'col'}!= AvailableTime.human_attribute_name(:available)
          %th{:scope => 'col'}!= AvailableTime.human_attribute_name(:room)
      %tbody
        - faculty_form.fields_for :available_times do |available_time_fields|
          - @available_time = available_time_fields.object
          != available_time_fields.hidden_field :begin
          != available_time_fields.hidden_field :end
          %tr
            %td!= "#{@available_time.begin.strftime('%m/%d/%y - %I:%M%p')} to #{@available_time.end.strftime('%I:%M%p')}"
            %td!= available_time_fields.check_box :available
            %td!= available_time_fields.text_field :room
    != hidden_field_tag :origin_action, @origin_action
    != hidden_field_tag :redirect_action, @redirect_action
    != faculty_form.submit t('.submit')
