- content_for :title, t('.title', :name => @faculty_instance.full_name)
- form_for @faculty_instance, :url => {:action => 'update'} do |faculty_form|
  - if @faculty_instance.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @faculty_instance.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.info')
    %ul
      - unless @faculty_instance == @current_user
        %li.field.required
          != faculty_form.label :ldap_id
          %p!= t('.ldap_id_description', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))
          != faculty_form.text_field :ldap_id
      %li.field.required
        != faculty_form.label :first_name
        != faculty_form.text_field :first_name
      %li.field.required
        != faculty_form.label :last_name
        != faculty_form.text_field :last_name
      %li.field.required
        != faculty_form.label :email
        != faculty_form.text_field :email
      %li.field.required
        != faculty_form.label :division
        != faculty_form.select :division, @divisions
      %li.field.required
        != faculty_form.label :area
        != faculty_form.select :area, @areas
    != hidden_field_tag :origin_action, @origin_action
    != hidden_field_tag :redirect_action, @redirect_action
    != faculty_form.submit ((@current_user.class == Faculty) ? t('.alt_submit') : t('.submit'))
