- content_for :title, t('.title')
%table
  %thead
    %tr
      %th{:scope => 'col'}!= Faculty.human_attribute_name(:full_name)
      %th{:scope => 'col'}!= Faculty.human_attribute_name(:email)
      %th{:scope => 'col'}!= t('.time_slots')
      %th{:scope => 'col'}!= t('.admit_rankings')
      %th{:scope => 'col'}!= t('.actions')
  %tbody
    - @settings = Settings.instance
    - @faculty.each do |faculty_instance|
      %tr
        %td= faculty_instance.full_name
        %td= faculty_instance.email
        %td= faculty_instance.availabilities.select {|t| t.available}.count
        %td= faculty_instance.admit_rankings.count
        %td
          %ul
            %li!= link_to t('faculty.edit.short_title'), edit_faculty_instance_path(faculty_instance)
            %li!= link_to t('faculty.rank_admits.short_title'), rank_admits_faculty_instance_path(faculty_instance)
            %li!= link_to t('faculty.edit_availability.short_title'), edit_availability_faculty_instance_path(faculty_instance)
            %li!= link_to t('meetings.tweak.short_title'), tweak_faculty_meetings_path(faculty_instance)
            %li!= link_to t('faculty.delete.short_title'), delete_faculty_instance_path(faculty_instance)
