- if @current_user.class == Faculty
  - content_for :title, t('.alt_title')
- else
  - content_for :title, t('.title', :name => @faculty_instance.full_name)
- form_for @faculty_instance, :url => {:action => 'update'} do |faculty_form|
  - if @faculty_instance.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @faculty_instance.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.admit_rankings')
    %p!= t('.admit_rankings_description')
    %ul
      %li{:class => 'button'}!= link_to t('.add_admits'), select_admits_faculty_instance_path(@faculty_instance)
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= AdmitRanking.human_attribute_name(:rank)
          %th{:scope => 'col'}!= Admit.human_attribute_name(:full_name)
          %th{:scope => 'col'}!= AdmitRanking.human_attribute_name(:mandatory)
          %th{:scope => 'col'}!= AdmitRanking.human_attribute_name(:time_slots)
          %th{:scope => 'col'}!= AdmitRanking.human_attribute_name(:one_on_one)
          %th{:scope => 'col'}!= t('.remove')
      %tbody
        - ranks = []
        - (@faculty_instance.admit_rankings.map(&:rank) << @faculty_instance.admit_rankings.length).max.times {|i| ranks[i] = i + 1}
        - time_slots = []
        - [@faculty_instance.available_times.count, 10].max.times {|i| time_slots[i] = i + 1}
        - faculty_form.fields_for :admit_rankings do |admit_ranking_fields|
          - @admit_ranking = admit_ranking_fields.object
          %tr
            %td!= admit_ranking_fields.select :rank, ranks
            %td!= @admit_ranking.admit.full_name
            %td!= admit_ranking_fields.check_box :mandatory, {}, "true", "false"
            %td!= admit_ranking_fields.select :time_slots, time_slots
            %td!= admit_ranking_fields.check_box :one_on_one, {}, "true", "false"
            %td!= admit_ranking_fields.check_box :_destroy
            != admit_ranking_fields.hidden_field :admit_id
  != hidden_field_tag :origin_action, @origin_action
  != hidden_field_tag :redirect_action, @redirect_action
  != faculty_form.submit t('.submit')
