%h2 Import Faculty
- form_tag import_faculty_path, :method => :post, :multipart => true do
  - if !@faculty.nil? && @faculty.any?(&:invalid?)
    %table
      %thead
        %tr
          %th{:scope => 'col'} First Name
          %th{:scope => 'col'} Last Name
          %th{:scope => 'col'} Email
          %th{:scope => 'col'} Area
          %th{:scope => 'col'} Division
          %th{:scope => 'col'} Errors
      %tbody
        - @faculty.each do |faculty_instance|
          %tr
            %td= faculty_instance.first_name
            %td= faculty_instance.last_name
            %td= faculty_instance.email
            %td= faculty_instance.area
            %td= faculty_instance.division
            %td
              %ul
                - faculty_instance.errors.full_messages.each do |error|
                  %li= error
  %fieldset
    %h3 Data
    %ul.plain
      %li
        != label_tag :csv_file, 'CSV File'
        != file_field_tag :csv_file
    != submit_tag 'Import Faculty'
