- content_for :title, 'Meeting Statistics'
%h3 Faculty with Unfulfilled Mandatory Meetings
%table
  %thead
    %tr
      %th{:scope => 'col'} Faculty
      %th{:scope => 'col'} Admits
  %tbody
    - @unsatisfied_faculty.each do |faculty, admits|
      %tr
        %td!= link_to faculty.full_name, (@current_user.class == Staff ? tweak_faculty_instance_meetings_path(faculty) : faculty_instance_meetings_path(faculty))
        %td
          %ul
            - admits.each do |admit|
              %li!= link_to admit.full_name, admit_meetings_path(admit)
%h3 Unsatisfied Admits
%p!= "Admits with fewer than #{Settings.instance.unsatisfied_admit_threshold} meetings"
%table
  %thead
    %tr
      %th{:scope => 'col'} Admit
      %th{:scope => 'col'} # Meetings
  %tbody
    - @unsatisfied_admits.each do |admit|
      %tr
        %td!= link_to admit.full_name, admit_meetings_path(admit)
        %td!= admit.meetings.count
%h3 Faculty with Unsatisfied Rankings
%table
  %thead
    %tr
      %th{:scope => 'col'} Faculty
      %th{:scope => 'col'} Admits
  %tbody
    - @faculty_with_unsatisfied_rankings.each do |faculty, admit_rankings|
      %tr
        %td!= link_to faculty.full_name, (@current_user.class == Staff ? tweak_faculty_instance_meetings_path(faculty) : faculty_instance_meetings_path(faculty))
        %td
          %dl
            - admit_rankings.each do |admit_ranking|
              %dt!= admit_ranking.rank
              %dd!= link_to admit_ranking.rankable.full_name, admit_meetings_path(admit_ranking.rankable)
%h3 Admits with Unsatisfied Rankings
%table
  %thead
    %tr
      %th{:scope => 'col'} Admit
      %th{:scope => 'col'} Faculty
  %tbody
    - @admits_with_unsatisfied_rankings.each do |admit, faculty_rankings|
      %tr
        %td!= link_to admit.full_name, admit_meetings_path(admit)
        %td
          %dl
            - faculty_rankings.each do |faculty_ranking|
              %dt!= faculty_ranking.rank
              %dd!= link_to faculty_ranking.faculty.full_name, (@current_user.class == Staff ? tweak_faculty_instance_meetings_path(faculty_ranking.faculty) : faculty_instance_meetings_path(faculty_ranking.faculty))
