- content_for :title, t('.title', :name => @faculty.full_name)

%p
  Edit #{@faculty.first_name}'s 
  != link_to 'Availability', edit_all_faculty_instance_availabilities_path(@faculty)
  or
  != link_to 'Profile', edit_faculty_instance_path(@faculty)

%p.instructions!= t('.instructions')

- form_for @faculty, :url => {:action => 'apply_tweaks'}, :html => {:method => :post} do |tweak_form|
  %table.schedule
    %thead
      %tr
        %th Time
        %th Room
        - 1.upto(@max_admits) do |i|
          %th Admit #{i}
    %tbody
      - tweak_form.fields_for :availabilities do |availability_fields|
        - availability = availability_fields.object
        %tr
          %td= availability.time_slot.begin.strftime('%I:%M%p')
          %td.room= availability.room || @faculty.default_room
          - availability_fields.fields_for :meetings do |meeting_fields|
            - meeting = meeting_fields.object
            %td
              - unless meeting.visitor.nil?
                != meeting_fields.check_box :_destroy
                != link_to meeting.visitor.name, admit_meetings_path(meeting.visitor)
              - else
                != meeting_fields.select :visitor_availability_id, [['', '']] + @all_admits.map {|a| [a.name, a.availabilities.find_by_time_slot_id(availability.time_slot_id).id]}
  != tweak_form.submit 'Save Changes'
