- content_for :title, t('.title')
%table
  %thead
    %tr
      %th{:scope => 'col'}!= VisitorFieldType.human_attribute_name(:name)
      %th{:scope => 'col'}!= t('.actions')
  %tbody
    - @field_types.each do |field_type|
      %tr
        %td= field_type.name
        %td
          %ul
            %li!= link_to t('visitor_field_types.edit.title'), edit_event_visitor_field_type_path(@event, field_type)
            %li!= link_to t('visitor_field_types.delete.title'), delete_event_visitor_field_type_path(@event, field_type)
