- if @current_user == @ranker.person
  - content_for :title, t('.alt_title')
- else
  - content_for :title, t('.title', :name => @ranker.person.name)
= form_for @ranker, :url => {:action => 'update_all'} do |ranker_form|
  - if @ranker.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @ranker.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.rankings')
    %p!= t('.rankings_description')
    %ul
      - if @event.disable_hosts && @current_user == @ranker.person
        %li{:class => 'button'}!= link_to t('.add'), edit_all_event_host_rankings_path(@event, @ranker)
      - else
        %li{:class => 'button'}!= link_to t('.add'), add_event_host_rankings_path(@event, @ranker)
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= HostRanking.human_attribute_name(:rank)
          %th{:scope => 'col'}!= Person.human_attribute_name(:full_name)
          %th{:scope => 'col'}!= HostRanking.human_attribute_name(:mandatory)
          %th{:scope => 'col'}!= HostRanking.human_attribute_name(:time_slots)
          %th{:scope => 'col'}!= HostRanking.human_attribute_name(:one_on_one)
          %th{:scope => 'col'}!= t('.remove')
      %tbody
        - ranks = []
        - (@ranker.rankings.map(&:rank) << @ranker.rankings.length).max.times {|i| ranks[i] = i + 1}
        - time_slots = []
        - [@ranker.availabilities.count, 10].max.times {|i| time_slots[i] = i + 1}
        != ranker_form.fields_for :rankings do |ranking_fields|
          - @ranking = ranking_fields.object
          %tr
            %td!= ranking_fields.select :rank, ranks
            %td!= @ranking.rankable.person.name
            %td!= ranking_fields.check_box :mandatory, {}, "true", "false"
            %td!= ranking_fields.select :num_time_slots, time_slots
            %td!= ranking_fields.check_box :one_on_one, {}, "true", "false"
            %td!= ranking_fields.check_box :_destroy
            != ranking_fields.hidden_field :rankable_id
  %fieldset
    != ranker_form.submit t('.submit'), :disabled => (@event.disable_hosts && @current_user == @host.person)
