- content_for :title, t('.title')
- form_for @peer_advisor, :url => {:action => 'update'} do |peer_advisor_form|
  != peer_advisor_form.error_messages
  %fieldset
    %h3!= t('.info')
    %ul.plain
      - unless @peer_advisor == @current_user
        %li
          != peer_advisor_form.label :ldap_id
          != peer_advisor_form.text_field :ldap_id
      %li
        != peer_advisor_form.label :first_name
        != peer_advisor_form.text_field :first_name
      %li
        != peer_advisor_form.label :last_name
        != peer_advisor_form.text_field :last_name
      %li
        != peer_advisor_form.label :email
        != peer_advisor_form.text_field :email
    != peer_advisor_form.submit ((@current_user.class == PeerAdvisor) ? t('.alt_submit') : t('.submit'))
