- content_for :title, t('.title')
%table
  %thead
    %tr
      %th{:scope => 'col'}!= PeerAdvisor.human_attribute_name(:full_name)
      %th{:scope => 'col'}!= PeerAdvisor.human_attribute_name(:email)
      %th{:scope => 'col'}!= t('.actions')
  %tbody
    - @peer_advisors.each do |peer_advisor|
      %tr
        %td= peer_advisor.full_name
        %td= peer_advisor.email
        %td
          %ul
            %li!= link_to t('peer_advisors.edit.short_title'), edit_peer_advisor_path(peer_advisor)
            %li!= link_to t('peer_advisors.delete.short_title'), delete_peer_advisor_path(peer_advisor)
