- if @current_user.class == PeerAdvisor
  - content_for :title, t('.alt_title')
- else
  - content_for :title, t('.title')
- form_for @peer_advisor do |peer_advisor_form|
  - if @peer_advisor.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @peer_advisor.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.info')
    %ul
      - unless @current_user.new_record?
        %li.field.required
          != peer_advisor_form.label :ldap_id
          %p!= t('.ldap_id_description', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))
          != peer_advisor_form.text_field :ldap_id
      %li.field.required
        != peer_advisor_form.label :first_name
        != peer_advisor_form.text_field :first_name
      %li.field.required
        != peer_advisor_form.label :last_name
        != peer_advisor_form.text_field :last_name
      %li.field.required
        != peer_advisor_form.label :email
        != peer_advisor_form.text_field :email
    != peer_advisor_form.submit ((@current_user.class == PeerAdvisor) ? t('.alt_submit') : t('.submit'))
