- content_for :title, t('.title')
- form_tag import_peer_advisors_path, :method => :post, :multipart => true do
  - if !@peer_advisors.nil? && @peer_advisors.any?(&:invalid?)
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= PeerAdvisor.human_attribute_name(:ldap_id)
          %th{:scope => 'col'}!= PeerAdvisor.human_attribute_name(:first_name)
          %th{:scope => 'col'}!= PeerAdvisor.human_attribute_name(:last_name)
          %th{:scope => 'col'}!= PeerAdvisor.human_attribute_name(:email)
          %th{:scope => 'col'}!= t('.errors')
      %tbody
        - @peer_advisors.each do |peer_advisor|
          %tr
            %td= peer_advisor.ldap_id
            %td= peer_advisor.first_name
            %td= peer_advisor.last_name
            %td= peer_advisor.email
            %td
              %ul
                - peer_advisor.errors.full_messages.each do |error|
                  %li= error
  %fieldset
    %h3!= t('.data')
    %ul.plain
      %li
        != label_tag :csv_file, t('.csv_file')
        != file_field_tag :csv_file
    != submit_tag t('.submit')

