- content_for :title, @current_user == @person ? t('.alt_title') : t('.title', :name => @person.name)
- form_for @person, :url => {:action => 'update'} do |person_form|
  - if @person.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @person.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.info')
    %ul
      - unless @current_user.role == 'administrator'
        %li.field
          != person_form.label :ldap_id
          %p!= t('.ldap_id_description', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))
          != person_form.text_field :ldap_id
        %li.field.required
          != person_form.label :role
          != person_form.select :role, [['User', 'user'], ['Facilitator', 'facilitator'], ['Administator', 'administrator']]
      %li.field.required
        != person_form.label :name
        != person_form.text_field :name
      %li.field.required
        != person_form.label :email
        != person_form.text_field :email
      %li.field
        != person_form.label :division
        != person_form.select :division, @divisions
      %li.field
        != person_form.label :area_1
        != person_form.select :area_1, @areas, :include_blank => true
      %li.field
        != person_form.label :area_2
        != person_form.select :area_2, @areas, :include_blank => true
      %li.field
        != person_form.label :area_3
        != person_form.select :area_3, @areas, :include_blank => true
    != person_form.submit((@current_user == @person) ? t('.alt_submit') : t('.submit'))
