- content_for :title, t('.title', :name => @role.person.name)
= form_for([@event, @role]) do |visitor_form|
  - if @role.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @role.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    = fields_for @role.person do |person_fields|
      %h3!= t('.profile')
      %ul
        - unless @current_user.role == 'administrator'
          %li.field
            != person_fields.label :ldap_id
            %p!= t('.ldap_id_description', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))
            != person_fields.text_field :ldap_id
          %li.field.required
            != person_fields.label :role
            != person_fields.select :role, [['User', 'user'], ['Facilitator', 'facilitator'], ['Administator', 'administrator']]
        %li.field.required
          != person_fields.label :name
          != person_fields.text_field :name
        %li.field.required
          != person_fields.label :email
          != person_fields.text_field :email
      = visitor_form.fields_for :fields do |field_fields|
        - field = field_fields.object
        %li.field
          != field_fields.label :data, field.field_type.name
          - unless field.field_type.description.blank?
            %p!= field.field_type.description
          - params = field.form_helper_params
          - if params[:type] == :single
            != field_fields.send(*params[:args])
  %fieldset
    -# Need at least one visitor field for form to work correctly
    != visitor_form.hidden_field :event_id
    != visitor_form.submit @role == @current_role ? t('.alt_submit') : t('.submit')
