- content_for :title, t('.title')
- form_for([@event, @role]) do |visitor_form|
  - if @role.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @role.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %ul
      %li.field.required
        != visitor_form.label :person_id
        != visitor_form.select :person_id, @people.map {|p| [p.name, p.id]}, {}
    != visitor_form.submit(t('.submit'))
