- content_for :title, t('.title')
= form_for([@event, @feature], :url => new_event_constraint_path(@event), :html => {:method => :get}) do |feature_form|
  %fieldset
    %ul
      - @feature_list.each do |type, description|
        %li
          != feature_form.radio_button :feature_type, type
          != feature_form.label :feature_type, description, :value => type
  != feature_form.hidden_field :host_field_type_id
  != feature_form.hidden_field :visitor_field_type_id
  != submit_tag t('.submit')

