- content_for :title, t('.title', :name => @staff_instance.full_name)
- form_for @staff_instance, :url => {:action => 'update'} do |staff_form|
  - if @staff_instance.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @staff_instance.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.info')
    %ul
      - unless @staff_instance == @current_user
        %li.field.required
          != staff_form.label :ldap_id
          %p!= t('.ldap_id_description', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))
          != staff_form.text_field :ldap_id
      %li.field.required
        != staff_form.label :first_name
        != staff_form.text_field :first_name
      %li.field.required
        != staff_form.label :last_name
        != staff_form.text_field :last_name
      %li.field.required
        != staff_form.label :email
        != staff_form.text_field :email
    != hidden_field_tag :origin_action, @origin_action
    != hidden_field_tag :redirect_action, @redirect_action
    != staff_form.submit t('.submit')
