- content_for :title, t('.title')
%table
  %thead
    %tr
      %th{:scope => 'col'}!= Staff.human_attribute_name(:full_name)
      %th{:scope => 'col'}!= Staff.human_attribute_name(:email)
      %th{:scope => 'col'}!= t('.actions')
  %tbody
    - @staff.each do |staff_instance|
      %tr
        %td= staff_instance.full_name
        %td= staff_instance.email
        %td
          %ul
            %li!= link_to t('staff.edit.short_title'), edit_staff_instance_path(staff_instance)
            %li!= link_to t('staff.delete.short_title'), delete_staff_instance_path(staff_instance)
