- content_for :title, t('.title')
%table
  %thead
    %tr
      %th{:scope => 'col'}!= Staff.human_attribute_name(:ldap_id)
      %th{:scope => 'col'}!= Staff.human_attribute_name(:first_name)
      %th{:scope => 'col'}!= Staff.human_attribute_name(:last_name)
      %th{:scope => 'col'}!= Staff.human_attribute_name(:email)
      %th{:scope => 'col'}!= t('.actions')
  %tbody
    - @staff.each do |staff_instance|
      %tr
        %td= staff_instance.ldap_id
        %td= staff_instance.first_name
        %td= staff_instance.last_name
        %td= staff_instance.email
        %td
          %ul
            %li!= link_to t('staff.edit.title'), edit_staff_instance_path(staff_instance)
            %li!= link_to t('staff.delete.title'), delete_staff_instance_path(staff_instance)
