- content_for :title, t('.title')
- form_for @staff_instance do |staff_form|
  - if @staff_instance.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @staff_instance.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.info')
    %ul
      %li.field.required
        != staff_form.label :ldap_id
        %p!= t('.ldap_id_description', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))
        != staff_form.text_field :ldap_id
      %li.field.required
        != staff_form.label :first_name
        != staff_form.text_field :first_name
      %li.field.required
        != staff_form.label :last_name
        != staff_form.text_field :last_name
      %li.field.required
        != staff_form.label :email
        != staff_form.text_field :email
    != staff_form.submit t('.submit')
