- content_for :title, t('.title')
- form_tag import_staff_path, :method => :post, :multipart => true do
  - if !@staff.nil? && @staff.any?(&:invalid?)
    #errors
      %h3!= t('.errors')
      %table
        %thead
          %tr
            %th{:scope => 'col'}!= Staff.human_attribute_name(:full_name)
            %th{:scope => 'col'}!= Staff.human_attribute_name(:email)
            %th{:scope => 'col'}!= t('.errors')
        %tbody
          - @staff.select(&:invalid?).each do |staff_instance|
            - errors = staff_instance.errors
            %tr
              %td{:class => (errors[:first_name].nil? && errors[:first_name].nil? ? nil : 'error')}= staff_instance.full_name
              %td{:class => (errors[:email].nil? ? nil : 'error')}= staff_instance.email
              %td
                %ul
                  - staff_instance.errors.full_messages.each do |error|
                    %li= error
  %fieldset
    %h3!= t('.data')
    .description
      != t('.data_description')
      %ul
        %li
          %em LDAP ID
          != "(#{t('.required')})"
          != " - #{t('.ldap_id_requirement', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))}"
        %li
          %em First Name
          != "(#{t('.required')})"
        %li
          %em Last Name
          != "(#{t('.required')})"
        %li
          %em Email
          != "(#{t('.required')})"
          != " - #{t('.email_requirement')}"
    %ul
      %li.field.required
        != label_tag :csv_file, t('.csv_file')
        != file_field_tag :csv_file
    != submit_tag t('.submit')
