- form_for @staff do |staff_form|
  != staff_form.error_messages
  %fieldset
    %h3 Staff Info
    %ul.plain
      %li
        != staff_form.label :calnet_id, 'CalNet ID'
        != staff_form.text_field :calnet_id

        != staff_form.hidden_field :ldap_id
      %li
        != staff_form.label :first_name, 'First Name'
        != staff_form.text_field :first_name
      %li
        != staff_form.label :last_name, 'Last Name'
        != staff_form.text_field :last_name
      %li
        != staff_form.label :email, 'Email'
        != staff_form.text_field :email
    != staff_form.submit
