- content_for :title, 'Edit Host Profile'
= form_for([@event, @role]) do |host_form|
  - if @role.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @role.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.profile')
    %ul
      != fields_for @role.person do |person_fields|
        - if @current_user.role == 'administrator'
          %li.field
            != person_fields.label :ldap_id
            %p!= t('.ldap_id_description', :calnet_directory => link_to('CalNet Directory', 'https://calnet.berkeley.edu/directory/'))
            != person_fields.text_field :ldap_id
          %li.field.required
            != person_fields.label :role
            != person_fields.select :role, [['User', 'user'], ['Facilitator', 'facilitator'], ['Administator', 'administrator']]
        %li.field.required
          != person_fields.label :name
          != person_fields.text_field :name
        %li.field.required
          != person_fields.label :email
          != person_fields.text_field :email
      != host_form.fields_for :fields do |field_fields|
        - field = field_fields.object
        %li.field
          != field_fields.label :data, field.field_type.name
          - unless field.field_type.description.blank?
            %p!= field.field_type.description
          - params = field.form_helper_params
          - if params[:type] == :single
            != field_fields.send(*params[:args])
          - else
            %ul
              - params[:args_list].each do |sub_list|
                %li
                  - sub_list.each do |args|
                    != field_fields.send(*args)
  -#%fieldset
    %h3!= t('.event_preferences')
    %ul
      %li.field.required
        != host_form.label :default_room
        != host_form.text_field :default_room
      %li.field.required
        != host_form.label :max_visitors_per_meeting
        != host_form.select :max_visitors_per_meeting, 1..50
      %li.field.required
        != host_form.label :max_visitors
        != host_form.select :max_visitors, 1..50
  %fieldset
    != host_form.submit 'Update Profile'
