- content_for :title, t('.title', :name => @schedulable.person.name)
= form_for @schedulable, :url => {:action => 'update_all'}, :html => {:name => 'availability_form'} do |schedulable_form|
  != schedulable_form.error_messages
  %fieldset
    %h3!= t('.preferences')
    %ul
      %li.field
        != schedulable_form.label :default_room
        != schedulable_form.text_field :default_room
      %li.field
        != schedulable_form.label :max_visitors_per_meeting
        != schedulable_form.text_field :max_visitors_per_meeting
  %fieldset
    %h3!= t('.availability')
    %ul
      %li!= link_to_function(t('.select_all'), 'select_all(availability_form)')
      %li!= link_to_function(t('.unselect_all'), 'unselect_all(availability_form)')
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= HostAvailability.human_attribute_name(:time_slot)
          %th{:scope => 'col'}!= HostAvailability.human_attribute_name(:available)
          %th{:scope => 'col'}!= HostAvailability.human_attribute_name(:room)
      %tbody
        != schedulable_form.fields_for :availabilities do |availability_fields|
          - availability = availability_fields.object
          %tr
            %td!= "#{availability.time_slot.begin.strftime('%m/%d/%y - %I:%M%p')} to #{availability.time_slot.end.strftime('%I:%M%p')}"
            %td!= availability_fields.check_box :available
            %td!= availability_fields.text_field :room
  %fieldset
    != schedulable_form.submit t('.submit'), :disabled => (@event.disable_hosts && !@current_role.nil? && @current_role.class == Host)
