%h2 Update Global Settings
- form_for @settings, :url => settings_path do |settings_form|
  - if @settings.errors.any?
    #error_explanation
      %h3 #{pluralize(@settings.errors.count, "error")} prohibited the settings from being saved:
      %ul
        - @settings.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %h3 Global Settings
    %ul
      %li
        != settings_form.label :unsatisfied_admit_threshold, Settings::ATTRIBUTES.invert[:unsatisfied_admit_threshold]
        != settings_form.text_field :unsatisfied_admit_threshold
  %fieldset
    %h3 Submit
    != settings_form.submit
