%h2 Update Global Settings
- form_for @settings, :url => settings_path do |settings_form|
  - if @settings.errors.any?
    #error_explanation
      %h3 #{pluralize(@settings.errors.count, "error")} prohibited the settings from being saved:
      %ul
        - @settings.errors.full_messages.each do |msg|
          %li= msg
  %fieldset
    %h3 Global Settings
    %ul
      %li
        != settings_form.label :unsatisfied_admit_threshold, Settings::ATTRIBUTES.invert[:unsatisfied_admit_threshold]
        != settings_form.text_field :unsatisfied_admit_threshold
      %li
        %h4 Meeting Times
        %ul
          - settings_form.fields_for :divisions do |division_fields|
            %li
              %h5!= division_fields.object.name
              %ul
                - division_fields.fields_for :available_times do |available_time_fields|
                  - @time = available_time_fields.object
                  %li
                    %ul
                      %li
                        != available_time_fields.label :begin
                        != available_time_fields.text_field :begin, :value => (@time.begin.nil? ? '' : @time.begin.strftime('%Y-%m-%d %I:%M%p'))
                      %li
                        != available_time_fields.label :end
                        != available_time_fields.text_field :end, :value => (@time.end.nil? ? '' : @time.end.strftime('%Y-%m-%d %I:%M%p'))
                      - unless available_time_fields.object.new_record?
                        %li
                          != available_time_fields.check_box :_destroy
                          != available_time_fields.label :_destroy, 'Remove'
  %fieldset
    %h3 Submit
    != settings_form.submit
