#area_of_interests
  %h3 Area of Interests
  %span Please select your area of interests. A list of admits in the area of interests will appear in the List of Admits
  
  - form_tag filter_by_area_of_interests_admits_path, :method => :get do
    - @list_of_area_of_interests.each do |area|
      %br
        != check_box_tag "area_of_interests[]", area
        != "#{area}"
    %br
      != hidden_field_tag "faculty_id", @faculty.id
    %br  
      != submit_tag "Find"
