%h2 View Faculty
%h3 Navigation
%ul
  %li!= link_to 'Add Faculty', new_faculty_path
  %li!= link_to 'Import Faculty', upload_faculties_path
%h3 Faculty
%table
  %thead
    %tr
      %th{:scope => 'col'} LDAP Id
      %th{:scope => 'col'} First Name
      %th{:scope => 'col'} Last Name
      %th{:scope => 'col'} Email
      %th{:scope => 'col'} Area
      %th{:scope => 'col'} Division
      %th{:scope => 'col'}
      %th{:scope => 'col'}
  %tbody
    - @faculties.each do |faculty|
      %tr
        %td= faculty.ldap_id
        %td= faculty.first_name
        %td= faculty.last_name
        %td= faculty.email
        %td= faculty.area
        %td= faculty.division
        %td!= link_to 'Update Faculty', edit_faculty_path(faculty)
        %td!= link_to 'Rank Admits', rank_admits_faculty_path(faculty)
        %td!= link_to 'Update Availability', schedule_faculty_path(faculty)
        %td!= link_to 'Remove Faculty', delete_faculty_path(faculty)
