%h2 My Desired Appointments
%h3 Navigation
%ul
  %li!= link_to 'Add Admits to My Desired Appointments', filter_admits_path

#admit_ranking
  %span
  %p
  - form_for @faculty do |faculty_form|
    != faculty_form.error_messages
    %fieldset
      %table
        %thead
          %tr
            %th Rank
            %th Mandatory Meeting?
            %th #Slots
            %th One on One Meeting?
            %th Name
            %th Remove
        %tbody
          - faculty_form.fields_for :admit_rankings do |admit_ranking_fields|
            - @admit_ranking = admit_ranking_fields.object
            %tr
              %td!= admit_ranking_fields.select(:rank, @faculty.admit_rankings.each_index.collect {|index| [index+1, index+1]})
              %td!= admit_ranking_fields.check_box :mandatory, {}, "true", "false"
              %td
              %td!= admit_ranking_fields.check_box :one_on_one, {}, "true", "false"
              %td!= admit_ranking_fields.label @admit_ranking.admit.full_name
              %td!= admit_ranking_fields.check_box :_destroy
              != admit_ranking_fields.hidden_field :admit_id             
    != faculty_form.submit
