- content_for :title, t('.title', :name => @admit.full_name)
- form_for @admit, :url => {:action => 'update'}, :html => {:name => 'availability_form'} do |admit_form|
  != admit_form.error_messages
  %fieldset
    %h3!= t('.availability')
    %ul
      %li!= link_to_function(t('.select_all'), 'select_all(availability_form)')
      %li!= link_to_function(t('.unselect_all'), 'unselect_all(availability_form)')
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= TimeSlot.human_attribute_name(:time)
          %th{:scope => 'col'}!= TimeSlot.human_attribute_name(:available)
      %tbody
        - admit_form.fields_for :availabilities do |availability_fields|
          - availability = availability_fields.object
          %tr
            %td!= "#{availability.time_slot.begin.strftime('%m/%d/%y - %I:%M%p')} to #{availability.time_slot.end.strftime('%I:%M%p')}"
            %td!= availability_fields.check_box :available
    != hidden_field_tag :origin_action, @origin_action
    != hidden_field_tag :redirect_action, @redirect_action
    != admit_form.submit t('.submit'), :disabled => (Settings.instance.disable_peer_advisors && @current_user.class == PeerAdvisor)
