- content_for :title, t('.title', :name => @admit.full_name)
- form_for @admit, :url => {:action => 'update'}, :html => {:name => 'availability_form'} do |admit_form|
  != admit_form.error_messages
  %fieldset
    %h3!= t('.availability')
    %ul
      %li!= link_to_function(t('.select_all'), 'select_all(availability_form)')
      %li!= link_to_function(t('.unselect_all'), 'unselect_all(availability_form)')
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= AvailableTime.human_attribute_name(:time)
          %th{:scope => 'col'}!= AvailableTime.human_attribute_name(:available)
      %tbody
        - admit_form.fields_for :available_times do |available_time_fields|
          - @available_time = available_time_fields.object
          != available_time_fields.hidden_field :begin
          != available_time_fields.hidden_field :end
          %tr
            %td!= "#{@available_time.begin.strftime('%m/%d/%y - %I:%M%p')} to #{@available_time.end.strftime('%I:%M%p')}"
            %td!= available_time_fields.check_box :available
    != hidden_field_tag :origin_action, @origin_action
    != hidden_field_tag :redirect_action, @redirect_action
    != admit_form.submit t('.submit')
