- content_for :title, t('.title')
- form_for @admit, :url => {:action => 'update'} do |admit_form|
  != admit_form.error_messages
  %fieldset
    %h3!= t('.info')
    %ul.plain
      %li
        != admit_form.label :first_name
        != admit_form.text_field :first_name
      %li
        != admit_form.label :last_name
        != admit_form.text_field :last_name
      %li
        != admit_form.label :email
        != admit_form.text_field :email
      %li
        != admit_form.label :phone
        != admit_form.text_field :phone
      %li
        != admit_form.label :area1
        != admit_form.select :area1, @areas
      %li
        != admit_form.label :area2
        != admit_form.select :area2, @areas
    != hidden_field_tag :origin_action, @origin_action
    != hidden_field_tag :redirect_action, @redirect_action
    != admit_form.submit t('.submit')
