#area_of_interests
  %h3 Area of Interests
  %span Please select your area of interests. A list of admits in the area of interests will appear in the List of Admits
  - form_for :filter, :html => {:method => :get} do |filter_form|
    %fieldset
      %h3 Filter by Division
      %ul
        - @divisions.each do |division, checked|
          %li
            != filter_form.check_box division, :checked => checked, :index => "divisions"
            != filter_form.label division, division
    %fieldset
      %h3 Filter by Area
      != link_to_function("Select All","checkboxes.each(function(e){ e.checked = 1 })")
      %ul
        - @areas.each do |area, checked|
          %li
            != filter_form.check_box area, :checked => checked, :index => "areas"
            != filter_form.label area, area
    %fieldset
      %h3 Submit
      != filter_form.submit 'Filter Admits'
  
#list_of_admits
  %h3 List of Admits              
  %span Please check admits whom you desire to schedule a meeting with
  #fieldset
  - form_for :admits, :url => rank_admits_faculty_path(:id => 6), :html => {:method => :get}  do |select_admit_form|
    %fieldset
      %h3 Select Admits
      %ul
        - if !@admits.empty?
          - @admits.each do |admit, checked|
            %li
              != select_admit_form.check_box admit.id, :checked => checked
              != select_admit_form.label admit.full_name, admit.full_name
    %fieldset
      %h3 Submit
      != select_admit_form.submit 'Add to My Desired Appointment List'
  
  
  
  
