%h2 View Admits
%h3 Navigation
%ul
  %li!= link_to 'Add Admit', new_admit_path
  %li!= link_to 'Import Admits', upload_admits_path
%h3 Admits
%table
  %thead
    %tr
      %th{:scope => 'col'} First Name
      %th{:scope => 'col'} Last Name
      %th{:scope => 'col'} Email
      %th{:scope => 'col'} Phone
      %th{:scope => 'col'} Area 1
      %th{:scope => 'col'} Area 2
      %th{:scope => 'col'}
      %th{:scope => 'col'}
      %th{:scope => 'col'}
      %th{:scope => 'col'}
  %tbody
    - @settings = Settings.instance
    - @admits.each do |admit|
      %tr
        %td= admit.first_name
        %td= admit.last_name
        %td= admit.email
        %td= admit.phone
        %td= @settings.areas[admit.area1]
        %td= @settings.areas[admit.area2]
        %td!= link_to 'Update Admit', edit_admit_path(admit)
        %td!= link_to 'Update Admit Availability', schedule_admit_path(admit)
        %td!= link_to 'Update Faculty Rankings', rank_faculty_admit_path(admit)
        %td!= link_to 'Remove Admit', delete_admit_path(admit)
