- content_for :title, t('.title')
%table
  %thead
    %tr
      %th{:scope => 'col'}!= Admit.human_attribute_name(:full_name)
      %th{:scope => 'col'}!= Admit.human_attribute_name(:email)
      %th{:scope => 'col'}!= Admit.human_attribute_name(:phone)
      %th{:scope => 'col'}!= Admit.human_attribute_name(:area1)
      %th{:scope => 'col'}!= Admit.human_attribute_name(:area2)
      %th{:scope => 'col'}!= t('.actions')
  %tbody
    - @settings = Settings.instance
    - @admits.each do |admit|
      %tr
        %td= admit.full_name
        %td= admit.email
        %td= admit.phone
        %td= admit.area1
        %td= admit.area2
        %td
          %ul
            %li!= link_to t('admits.edit.short_title'), edit_admit_path(admit)
            %li!= link_to t('admits.schedule.short_title'), schedule_admit_path(admit)
            %li!= link_to t('admits.rank_faculty.short_title'), rank_faculty_admit_path(admit)
            %li!= link_to t('admits.view_meetings.short_title'), view_meetings_admit_path(admit)
            %li!= link_to t('admits.delete.short_title'), delete_admit_path(admit)
