- content_for :title, t('.title', :name => @admit.full_name)
- form_for @admit, :url => {:action => 'update'} do |admit_form|
  - if @admit.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @admit.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.faculty_rankings')
    %ul
      - if Settings.instance.disable_peer_advisors && @current_user.class == PeerAdvisor
        %li{:class => 'button'}!= link_to t('.add_faculty'), rank_faculty_admit_path(@admit)
      - else
        %li{:class => 'button'}!= link_to t('.add_faculty'), select_faculty_admit_path(@admit)
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= VisitorRanking.human_attribute_name(:rank)
          %th{:scope => 'col'}!= Faculty.human_attribute_name(:full_name)
          %th{:scope => 'col'}!= t('.remove')
      %tbody
        - ranks = []
        - (@admit.rankings.map(&:rank) << @admit.rankings.length).max.times {|i| ranks[i] = i + 1}
        - admit_form.fields_for :rankings do |ranking_fields|
          - @ranking = ranking_fields.object
          %tr
            %td!= ranking_fields.select :rank, ranks
            %td!= @ranking.rankable.full_name
            %td!= ranking_fields.check_box :_destroy
            != ranking_fields.hidden_field :rankable_id
  != hidden_field_tag :origin_action, @origin_action
  != hidden_field_tag :redirect_action, @redirect_action
  != admit_form.submit t('.submit'), :disabled => (Settings.instance.disable_peer_advisors && @current_user.class == PeerAdvisor)
