- content_for :title, t('.title')
- form_tag import_admits_path, :method => :post, :multipart => true do
  - if !@admits.nil? && @admits.any?(&:invalid?)
    %table
      %thead
        %tr
          %th{:scope => 'col'}!= Admit.human_attribute_name(:first_name)
          %th{:scope => 'col'}!= Admit.human_attribute_name(:last_name)
          %th{:scope => 'col'}!= Admit.human_attribute_name(:email)
          %th{:scope => 'col'}!= Admit.human_attribute_name(:phone)
          %th{:scope => 'col'}!= Admit.human_attribute_name(:area1)
          %th{:scope => 'col'}!= Admit.human_attribute_name(:area2)
          %th{:scope => 'col'}!= t('.errors')
      %tbody
        - @admits.each do |admit|
          %tr
            %td= admit.first_name
            %td= admit.last_name
            %td= admit.email
            %td= admit.phone
            %td= admit.area1
            %td= admit.area2
            %td
              %ul
                - admit.errors.full_messages.each do |error|
                  %li= error
  %fieldset
    %h3!= t('data')
    %ul
      %li
        != label_tag :csv_file, t('.csv_file')
        != file_field_tag :csv_file
    != submit_tag t('.submit')
