- content_for :title, t('.title')
- form_tag import_admits_path, :method => :post, :multipart => true do
  - if !@admits.nil? && @admits.any?(&:invalid?)
    #errors
      %h3!= t('.errors')
      %table
        %thead
          %tr
            %th{:scope => 'col'}!= Admit.human_attribute_name(:full_name)
            %th{:scope => 'col'}!= Admit.human_attribute_name(:email)
            %th{:scope => 'col'}!= Admit.human_attribute_name(:phone)
            %th{:scope => 'col'}!= Admit.human_attribute_name(:area1)
            %th{:scope => 'col'}!= Admit.human_attribute_name(:area2)
            %th{:scope => 'col'}!= Admit.human_attribute_name(:area3)
            %th{:scope => 'col'}!= t('.errors')
        %tbody
          - @admits.select(&:invalid?).each do |admit|
            - errors = admit.errors
            %tr
              %td{:class => (errors[:first_name].nil? && errors[:first_name].nil? ? nil : 'error')}= admit.full_name
              %td{:class => (errors[:email].nil? ? nil : 'error')}= admit.email
              %td{:class => (errors[:phone].nil? ? nil : 'error')}= admit.phone
              %td{:class => (errors[:area1].nil? ? nil : 'error')}= admit.area1
              %td{:class => (errors[:area2].nil? ? nil : 'error')}= admit.area2
              %td{:class => (errors[:area3].nil? ? nil : 'error')}= admit.area3
              %td
                %ul
                  - admit.errors.full_messages.each do |error|
                    %li= error
  %fieldset
    %h3!= t('.data')
    .description
      != t('.data_description')
      %ul
        %li
          %em First Name
          != "(#{t('.required')})"
        %li
          %em Last Name
          != "(#{t('.required')})"
        %li
          %em Email
          != " - #{t('.email_requirement')}"
        %li
          %em Phone
        %li
          %em Area 1
          != " - #{t('.area_requirement', :areas => link_to('EECS Research Areas', 'http://www.eecs.berkeley.edu/Research/Areas/'))}"
        %li
          %em Area 2
          != " - #{t('.area_requirement', :areas => link_to('EECS Research Areas', 'http://www.eecs.berkeley.edu/Research/Areas/'))}"
        %li
          %em Area 3
          != " - #{t('.area_requirement', :areas => link_to('EECS Research Areas', 'http://www.eecs.berkeley.edu/Research/Areas/'))}"
    %ul
      %li.field.required
        != label_tag :csv_file, t('.csv_file')
        != file_field_tag :csv_file
    != submit_tag t('.submit')
