<p><%= link_to 'logout of CalNet', :action => :logout %></p>

<%= session[:cas_user]%>
<% @ldapparams.each do |k, v| %>
<p><%= "#{k}\t#{v}"%></p>
<% end%>
<% if @extra_attributes %>
<%= @extra_attributes %>
<!-- <% @extra_attributes.each do |k, v| %>
<p><%= "#{k}\t#{v}"%></p>
<% end %> -->
<% end %>

<p><%= session %><p>
<p><%= cookies %><p>
<p><%= cookies.size %><p>


