- content_for :title, t('.title')
= form_for([@event, @field_type]) do |field_type_form|
  - if @field_type.errors.any?
    #errors
      %h3!= t('.errors')
      %ul
        - @field_type.errors.full_messages.each do |message|
          %li!= message
  %fieldset
    %h3!= t('.basic_info')
    %ul
      %li.field.required
        != field_type_form.label :name
        != field_type_form.text_field :name
      %li.field
        != field_type_form.label :description
        != field_type_form.text_area :description, :size => '40x5'
      %li.field
        != field_type_form.label :data_type
        != field_type_form.select :data_type, @data_types, {}, :disabled => true
  - unless @field_type.option_types.empty?
    %fieldset
      %h3!= t('.options')
      %ul
        - @field_type.option_types.each do |name, params|
          != field_type_form.fields_for :options, @field_type.options[name] do |option_fields|
            %li.field
              != option_fields.send(*params[:label_params])
              - unless params[:description].blank?
                %p!= params[:description]
              != option_fields.send(*params[:form_helper_params])
  %fieldset
    != field_type_form.submit t('.submit')
