%h2 Faculty Dashboard
%h3 Navigation
-#%ul
  -#%li!= link_to 'Update Meeting Availability', schedule_faculty_path(@current_user)

#area_of_interests
  %h3 Area of Interests
  %span Please select your area of interests. A list of admits in the area of interests will appear in the List of Admits
  %form{:id => "research_categories"}
    %br
      != check_box_tag "Artificial Intelligence", "Artificial Intelligence" 
      Artificial Intelligence (AI)
    %br
      != check_box_tag "Biosystems & Computational Biology", "Biosystems & Computational Biology"
      Biosystems & Computational Biology (BIO) 
    %br
      != check_box_tag "Communications & Networking", "Communications & Networking"  
      Communications & Networking (COMNET)
    %br
      != check_box_tag "Computer Architecture & Engineering", "Computer Architecture & Engineering"
      Computer Architecture & Engineering (ARC)
    %br
      != check_box_tag "Control, Intelligent Systems, and Robotics", "Control, Intelligent Systems, and Robotics"
      Control, Intelligent Systems, and Robotics (CIR)  
    %br
      != check_box_tag "Database Management Systems", "Database Management Systems"
      Database Management Systems (DBMS)    
    %br
      != check_box_tag "Design of Electronic Systems", "Design of Electronic Systems"
      Design of Electronic Systems (DES)      
    %br
      != check_box_tag "Education", "Education"
      Education (EDUC)        
    %br
      != check_box_tag "Energy", "Energy"
      Energy (ENE)          
    %br
      != check_box_tag "Graphics", "Graphics"
      Graphics (GR)            
    %br
      != check_box_tag "Human-Computer Interaction", "Human-Computer Interaction"
      Human-Computer Interaction (HCI)              
    %br
      != check_box_tag "Integrated Circuits", "Integrated Circuits"
      Integrated Circuits (INC)                
    %br
      != check_box_tag "Micro/Nano Electro Mechanical Systems", "Micro/Nano Electro Mechanical Systems"
      Micro/Nano Electro Mechanical Systems (MEMS)
    %br
      != check_box_tag "Operating Systems & Networking", "Operating Systems & Networking"    
      Operating Systems & Networking (OSNT)
    %br
      != check_box_tag "Physical Electronics", "Physical Electronics" 
      Physical Electronics (PHY)
    %br
      != check_box_tag "Programming Systems", "Programming Systems"
      Programming Systems (PS)
    %br
      != check_box_tag "Scientific Computing", "Scientific Computing"           
      Scientific Computing (SCI)
    %br
      != check_box_tag "Security", "Security"
      Security (SEC) 
    %br
      != check_box_tag "Signal Processing", "Signal Processing"       
      Signal Processing (SP)
    %br
      != check_box_tag "Theory", "Theory"
      Theory (THY)

#list_of_admits
  %h3 List of Admits
  != observe_form "research_categories",
      :update => "list_of_admit_names",
      :url => {:action => "find_admits_in_area_of_interests"},
      :with => "Form.serialize('area_of_interests')"
          
  %span Drag and drop students between admit list and appointment list
  %p
  #list_of_admit_names{:style => "width:100px;height:100px;border-style:solid"}
  
  
      
#admit_ranking
  %h3 My Desired Appointments
  %span Drag to reorder list. Roll over column names for explanation of each column
  %p
  #admit_ranking_table{:style => "width:100px;height:100px;border-style:solid"}
    != drop_receiving_element :admit_ranking_table, :hoverclass => 'hover', 
      :onDrop => "function(drag, drop){ if (!drop.cleared) {drop.innerHTML = ''; drop.cleared = true} drag.parentNode.removeChild(drag); drop.appendChild(drag);}"
  

#faculty_availability
  %h3 My Availability

