- content_for :title, t('.title')
%table
  %thead
    %tr
      %th{:scope => 'col'}!= Goal.human_attribute_name(:name)
      %th{:scope => 'col'}!= Goal.human_attribute_name(:weight)
      %th{:scope => 'col'}!= t('.actions')
  %tbody
    - @features.each do |feature|
      %tr
        %td= feature.name
        %td= feature.weight
        %td
          %ul
            %li!= link_to t('goals.edit.title'), edit_event_goal_path(@event, feature)
            %li!= link_to t('goals.delete.title'), delete_event_goal_path(@event, feature)
