!!! Strict
%html
  %head
    %title!= yield :title
    != stylesheet_link_tag 'reset'
    != stylesheet_link_tag 'main'
    != stylesheet_link_tag 'print', :media => 'print'
    != stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans'
    != javascript_include_tag :defaults
  %body
    %h1!= link_to 'Visit Day', home_path
    #content
      %h2!= yield :title
      - unless flash[:notice].nil?
        %p#messages!= flash[:notice]
      - unless flash[:alert].nil?
        %p#alerts!= flash[:alert]
      != yield
    #navigation
      %ul
        %li.highlight!= link_to t('root.sign_out.title'), sign_out_path
        - host = @event.nil? ? nil : @current_user.event_roles.find_by_event_id(@event.id)
        - if @current_user.role == 'administrator'
          - unless @event.nil?
            %li!= link_to t('events.edit.title'), edit_event_path(@event)
            %li!= link_to t('meetings.master.title'), event_meetings_path(@event)
            %li!= link_to 'Meeting Statistics', statistics_event_meetings_path(@event)
            %li.dangerous!= link_to t('meetings.create_all.title'), create_all_event_meetings_path, :confirm => t('meetings.create_all.warning')
        - unless host.nil?
          %li!= link_to t('host_availabilities.edit_all.alt_title'), edit_all_host_availabilities_path(@current_user.host)
          %li!= link_to t('host_rankings.edit_all.alt_title'), edit_all_host_rankings_path(@current_user.host)
          %li!= link_to t('faculty.view_schedule.alt_title'), host_meetings_path(@current_user.host)
    #footer
      %p By Vinson Chuong, Benson Ma, and Jacky Wu, alumni of Prof. Armando Fox's Software Engineering course at UC Berkeley.
      %p Visual design by Amber Feng.
      %p Updated [INSERT TIME] - Commit [INSERT COMMIT ID]
