!!!
%html
  %head
    %title= content_for?(:title) ? yield(:title) : 'MeetingLibs'
    = stylesheet_link_tag 'application'
    = stylesheet_link_tag 'print', :media => 'print'
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Open+Sans'
    = csrf_meta_tag
  %body
    #header
      #secondary_navigation
        %ul#breadcrumbs
        %ul#account_management
          -#%li= link_to 'Sign Out'
      #title
        %h1= link_to 'MeetingLibs', root_path
        - unless @event.nil? or @event.new_record?
          %span for #{@event.name}
      - if @auth_token.nil?
        %ul#primary_navigation
          - is_administrator = @current_user.role == 'administrator'
          - is_facilitator = @current_user.role == 'facilitator'
          - unless @event.nil? || @event.new_record?
            - if is_administrator
              %li
                %span Event
                %ul
                  %li= link_to 'Dashboard', event_path(@event)
                  %li= link_to 'Edit Settings', edit_event_path(@event)
              %li
                %span Hosts
                %ul
                  %li= link_to 'Manage Hosts', event_hosts_path(@event)
                  %li= link_to 'Manage Survey', event_host_field_types_path(@event)
              %li
                %span Visitors
                %ul
                  %li= link_to 'Manage Visitors', event_visitors_path(@event)
                  %li= link_to 'Manage Survey', event_visitor_field_types_path(@event)
              %li
                %span Meetings
                %ul
                  -#%li= link_to 'Manage Meetings', event_meetings_path(@event)
                  %li= link_to 'Manage Goals', event_goals_path(@event)
                  %li= link_to 'Manage Constraints', event_constraints_path(@event)
    #content
      - if content_for?(:title)
        %h2= yield :title
      - unless flash[:notice].nil?
        %p#notice= flash[:notice]
      - unless flash[:alert].nil?
        %p#alert= flash[:alert]
      != yield
    #footer
      %p By Vinson Chuong and Benson Ma, alumni of Prof. Armando Fox's software engineering course at UC Berkeley
    = javascript_include_tag 'http://maps.googleapis.com/maps/api/js?libraries=places&sensor=false'
    = javascript_include_tag 'application'
    != yield :javascript

