!!! Strict
%html
  %head
    %title!= yield :title
    != stylesheet_link_tag 'reset'
    != stylesheet_link_tag 'main'
    != stylesheet_link_tag 'print', :media => 'print'
    != stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans'
    != javascript_include_tag :defaults
  %body
    %h1!= link_to 'Visit Day', home_path
    #content
      %h2!= yield :title
      - unless flash[:notice].nil?
        %p#messages!= flash[:notice]
      - unless flash[:alert].nil?
        %p#alerts!= flash[:alert]
      != yield
    #navigation
      - faculty_instance = Faculty.find_by_ldap_id(session[:cas_user])
      - if @current_user.class == Staff
        %ul
          %li.highlight!= link_to t('root.sign_out.title'), sign_out_path
          %li!= link_to t('settings.edit.title'), edit_settings_path
          %li
            != link_to t('staff.index.title'), staff_path
            %ul
              %li!= link_to t('staff.edit.alt_title'), edit_staff_instance_path(@current_user)
              %li!= link_to t('staff.new.title'), new_staff_instance_path
          %li
            != link_to t('peer_advisors.index.title'), peer_advisors_path
            %ul
              %li!= link_to t('peer_advisors.new.title'), new_peer_advisor_path
          %li
            != link_to t('faculty.index.title'), faculty_path
            %ul
              - unless faculty_instance.nil?
                %li!= link_to 'Update My Faculty Info', edit_faculty_instance_path(faculty_instance)
                %li!= link_to t('host_availabilities.edit_all.alt_title'), edit_all_host_availabilities_path(faculty_instance.host)
                %li!= link_to t('host_rankings.edit_all.alt_title'), edit_all_host_rankings_path(faculty_instance.host)
              %li!= link_to t('faculty.new.title'), new_faculty_instance_path
              %li!= link_to t('faculty.upload.title'), upload_faculty_path
          %li
            != link_to t('admits.index.title'), admits_path
            %ul
              %li!= link_to t('admits.new.title'), new_admit_path
              %li!= link_to t('admits.upload.title'), upload_admits_path
          %li
            != link_to t('meetings.master.title'), master_meetings_path
            %ul
              %li!= link_to 'Print Admit Schedules', print_admits_meetings_path
              %li!= link_to 'Print Admit Schedules (One Per Page)', print_admits_meetings_path(:one_per_page => 'true')
              %li!= link_to 'Print Faculty Schedules', print_faculty_meetings_path
              %li!= link_to 'Print Faculty Schedules (One Per Page)', print_faculty_meetings_path(:one_per_page => 'true')
              %li!= link_to 'Meeting Statistics', statistics_meetings_path
              %li.dangerous!= link_to t('meetings.create_all.title'), create_all_meetings_path, :confirm => t('meetings.create_all.warning'), :method => :post
      - elsif @current_user.class == PeerAdvisor && !@current_user.new_record?
        %ul
          %li.highlight!= link_to t('root.sign_out.title'), sign_out_path
          %li!= link_to t('peer_advisors.edit.alt_title'), edit_peer_advisor_path(@current_user)
          %li!= link_to t('admits.index.title'), admits_path
          - unless faculty_instance.nil?
            %li!= link_to 'Update My Faculty Info', edit_faculty_instance_path(faculty_instance)
            %li!= link_to t('host_availabilities.edit_all.alt_title'), edit_all_host_availabilities_path(faculty_instance.host)
            %li!= link_to t('host_rankings.edit_all.alt_title'), edit_all_host_rankings_path(faculty_instance.host)
      - elsif @current_user.class == Faculty && !@current_user.new_record?
        %ul
          %li.highlight!= link_to t('root.sign_out.title'), sign_out_path
          %li!= link_to t('faculty.edit.alt_title'), edit_faculty_instance_path(@current_user)
          %li!= link_to t('host_availabilities.edit_all.alt_title'), edit_all_host_availabilities_path(@current_user.host)
          %li!= link_to t('host_rankings.edit_all.alt_title'), edit_all_host_rankings_path(@current_user.host)
          %li!= link_to t('faculty.view_schedule.alt_title'), host_meetings_path(@current_user.host)
      - else
        %ul
          %li.highlight!= link_to t('root.sign_out.title'), sign_out_path
    #footer
      %p By Vinson Chuong, Benson Ma, and Jacky Wu, alumni of Prof. Armando Fox's Software Engineering course at UC Berkeley.
      %p Visual design by Amber Feng.
      %p Updated [INSERT TIME] - Commit [INSERT COMMIT ID]
