!!! Strict
%html
  %head
    %title Visit Day Meeting Scheduler
    != javascript_include_tag :defaults
    != stylesheet_link_tag 'main'
    != stylesheet_link_tag 'home'
    != stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans'
  %body
    != yield