!!! Strict
%html
  %head
    %title!= yield :title
    != stylesheet_link_tag 'reset'
    != stylesheet_link_tag 'home'
    != stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Droid+Sans'
  %body
    %h1!= yield :title
    != yield